# Sonar scanner artifacts
.scannerwork/
.sonar/
.sonartmp/

# Standard things you probably also want excluded
node_modules
.git
.gitignore
.dockerignore
.env
.env.local
.env.*.local
Dockerfile
*.md
.vscode
.idea
coverage
build
dist
.next
*.log
npm-debug.log*
.DS_Store
